/* Normalize */
body {
  font-size: 15px;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Globals */
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  /* border-top: 3px solid #555; */
}

/* Header */
header {
  background-color: #3897f0;
  color: #555;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid #555;
}

header a {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}

header li {
  display: inline;
  padding: 0px 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header #branding .highlight {
  color: #f4f4f4;
  border-bottom: 2px solid #555;
}

header nav {
  float: right;
  margin-top: 12px;
}

header a:hover {
  color: #f4f4f4;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 400px;
  background-image: url(../images/bg.jpg);
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #555;
  text-align: center;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

/* About */
#about {
  margin-top: 20px;
}

#about .box {
  width: 25%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

#about i, h3 {
  color: #333;
}

#about p {
  color: #555;
}
/* Projects */
#projects h2 {
  text-align: center;
}

#projects .box {
  width: 50%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

#projects a {
  color: #3897f0;
}

/* Contact */
#contact h2 {
  text-align: center;
}

#contact li a {
  color: #555;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

#contact i {

}
